node-linker=hoisted
dedupe-direct-deps=true
auto-install-peers=false
strict-peer-dependencies=false
minimum-release-age-exclude=expo,expo-audio,expo-asset,expo-dev-client,expo-file-system,expo-constants,expo-image,expo-image-picker,expo-linking,expo-notifications,expo-router,expo-splash-screen,expo-system-ui,react-native,react-native-worklets,@types/react-dom,@expo/metro-runtime
